@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;0,900;1,400;1,700&display=swap');

body {
    font-family: 'Raleway', Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: var(--secondary-navy);

    transition: color, .2s, ease-in-out;

    &:hover {
        color: var(--secondary-red);
    }
}

.highlight-red {
    color: var(--secondary-red);
}

.text-white {
    color: white;
}