:root {
    --primary-turqoise: #5AD8CC;
    --primary-gray: #817F75;
    --primary-gray-rgb: 129,127,117; // Used with RGBA functions
    --secondary-navy: #414770;
    --secondary-red: #9C0D38;

    --header-height: 110px;
}
